* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  /* align-items: stretch; */
  border: 2px solid hotpink;
  height: 100vh;
}

div {
  width: 100px;
  height: 100px;
  margin: 20px;
  border-radius: 10px;
  border: 2px dotted chartreuse;
}

.strobe_1 {
  background-color: yellow;
}

.strobe_1:hover {
  background-color: yellow;
  animation: first 1s infinite alternate-reverse;
}

.strobe_2 {
  background-color: blue;
}

.strobe_2:hover {
  background-color: blue;
  animation: second 1s infinite alternate-reverse;
}

.strobe_3 {
  background-color: red;
}

.strobe_3:hover {
  background-color: red;
  animation: third 1s infinite alternate-reverse;
}

.strobe_4 {
  background-color: green;
}

.strobe_4:hover {
  background-color: green;
  animation: forth 1s infinite alternate-reverse;
}

.strobe_5 {
  background-color: purple;
}

.strobe_5:hover {
  background-color: purple;
  animation: forth 1s infinite alternate-reverse;
}

/* ##### KEYFRAMES ##### */

@keyframes first {

  from,
  to {
    background-color: yellow;
  }

  50% {
    background-color: transparent;
  }
}

@keyframes second {

  from,
  to {
    background-color: blue;
  }

  50% {
    background-color: transparent;
  }
}

@keyframes third {

  from,
  to {
    background-color: red;
  }

  50% {
    background-color: transparent;
  }
}

@keyframes forth {

  from,
  to {
    background-color: green;
  }

  50% {
    background-color: transparent;
  }
}

@keyframes fifth {

  from,
  to {
    background-color: purple;
  }

  50% {
    background-color: transparent;
  }
}