* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  align-items: stretch;
  border: 2px solid hotpink;
  height: 100vh;
}

div {
  border: 2px dotted chartreuse;
  width: 20%;
}

.strobe {
  animation: strobe 0.1ms 0.1s infinite linear alternate;
/*   animation-name: strobe;
  animation-duration: 0.1ms;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate; */
}

.d1:hover {
  background-color: yellow;
}

.d2:hover {
  background-color: rgb(204, 164, 34);
}

.d3:hover {
  background-color: rgb(221, 15, 0);
}

.d4:hover {
  background-color: rgb(128, 32, 19);
}

.d5:hover {
  background-color: rgb(34, 1, 1);
}

@keyframes strobe {
  50% {
    background-color: transparent;
  }
}